# vi:set ts=4 sw=2:

name: CI

on:
  push:
    branches:
      - shell-env
  pull_request:
    branches:
      - shell-env

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      #
      # If `shell:' is not explicitly specified, it'll use `bash -e'.
      #
      - name: default-shell
        run: |
          . ./actions/common.sh
          run 'ps p$$ uw'

      #
      # If `shell: bash' is specified, it'll use
      # `bash --noprofile --norc -e -o pipefail'.
      #
      - name: explicit-bash
        shell: bash
        run: |
          . ./actions/common.sh
          run 'ps p$$ uw'

      #
      # If `shell: bash {0}' is specified, it'll simply use `bash' without
      # adding any extra options.
      #
      - name: get-env-info
        shell: bash {0}
        run: |
          . ./actions/common.sh

          run tty
          run pwd
          run ls -al
          run whoami 
          run 'echo $0'
          run 'ps p$$ uw'

          run uname -a
          run 'ls -l /etc/*release'
          run cat /etc/lsb-release
          run free

          run df -h
          run mount

          run ps
          run 'ps p$$ j'
          run ps p1 uw
          run pstree

          #run ps axuw
          run env
