# vi:set ts=4 sw=2:

name: CI

on:
  push:
    branches:
      - set-output
  pull_request:
    branches:
      - set-output

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - id: step-1
        shell: bash {0}
        run: |
          . ./actions/common.sh
          run echo "::echo::on"

          versions_pretty=$(  echo ' "1.10.31" "1.11.1" ' | jq -s    )
          versions_compact=$( echo ' "1.10.31" "1.11.1" ' | jq -s -c )

          run declare -p versions_pretty
          run declare -p versions_compact

          run 'echo "::set-output name=versions_compact::$versions_compact" '
          run 'echo "::set-output name=versions_pretty::$versions_pretty" '

      - id: step-2
        shell: bash {0}
        run: |
          . ./actions/common.sh
          run echo "::echo::on"

          set -x

          cat << 'END'
          ---- versions_compact
          ${{ steps.step-1.outputs.versions_compact }}
          ---- "versions_compact"
          "${{ steps.step-1.outputs.versions_compact }}"
          ---- 'versions_compact'
          '${{ steps.step-1.outputs.versions_compact }}'
          ---- versions_pretty
          ${{ steps.step-1.outputs.versions_pretty }}
          ---- "versions_pretty"
          "${{ steps.step-1.outputs.versions_pretty }}"
          ---- 'versions_pretty'
          '${{ steps.step-1.outputs.versions_pretty }}'
          ----
          END

          #echo 'versions_compact=${{ steps.step-1.outputs.versions_compact }}'
          #echo 'versions_compact=${{ steps.step-1.outputs.versions_pretty }}'
