# vi:set ts=4 sw=2:

name: CI

on:
  push:
    branches:
      - set-output
  pull_request:
    branches:
      - set-output

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - id: step-1
        shell: bash {0}
        run: |
          . ./actions/common.sh
          echo "::echo::on"

          VERSIONS_JSON=$( echo ' "1.10.31" "1.11.1" ' | jq -s )
          run declare -p VERSIONS_JSON
          echo "::set-output name=VERSIONS_JSON::$VERSIONS_JSON"

      - id: step-2
        shell: bash {0}
        run: |
          . ./actions/common.sh
          echo "::echo::on"

          set -x
          echo "VERSIONS_JSON=${{ steps.step-1.outputs.VERSIONS_JSON }}"
